dialog {
    margin: auto;
    padding: 3rem; 
    border: none; 
    border-radius: 12px;
    box-shadow: 2xl;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--bg-color, #3c5449);
    color: var(--text-color, #d3ead6);
    max-width: 500px;
    width: 90%;
}
dialog::backdrop {
    background-color: rgba(0,0,0,0.5);
}